<p id="notice"><%= notice %></p>

<h1>Pelis</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Movie length</th><br>
      <th>Director</th>
      <th>Main actor</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr><br>
  </thead>

  <tbody>
    <% @pelis.each do |peli| %>
      <tr>
        <td><%= peli.title %></td>
        <td><%= peli.description %></td>
        <td><%= peli.movie_length %></td><br>
        <td><%= peli.director %></td>
        <td><%= peli.main_actor %></td>
        <td><%= peli.rating %></td>
        <td><%= link_to 'Show', peli %></td>
        <td><%= link_to 'Edit', edit_peli_path(peli) %></td>
        <td><%= link_to 'Destroy', peli, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peli', new_peli_path %>
